<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quis Vuew - Wisnu Murfadilah R</title>
</head>

<body>
  <div id="app">
    <div v-for="comment in comments">
      <comment :comment="comment.comment" :date="comment.date" :score="comment.score"></comment>
    </div>
    <textarea cols="30" rows="10" v-on:keyup.enter="addComments" v-model="textarea"></textarea>
  </div>
  <template id='comment'>
    <div>
      <button v-on:click="add()">+</button> <br>
      {{comment}} || {{date}} || Score : {{cscore}} <br>
      <button v-on:click="down()">-</button>
    </div>
  </template>
</body>
<script src="./vue.js"></script>
<script src="./app.js"></script>

</html>